body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: auto;
  border: 5px solid white;
  padding: 5px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  display: block;
  margin-top: 2px;
  font-size: 18px;
  font-style: bold;
}

.content {
  background: #e3f4ff;
  display: block;
  padding: 20px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  text-align: center;
  border-top: 10px solid white;
  padding: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 10px 30px;
}